*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('img/universe.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.up-side{
    border-radius: 10px;
    background-color: rgba(1, 0, 10, 0.6);
    padding: 30px 70px;
    color: #fff;
}

.info h1{
    text-align: left;
    font-size: 60px;
    margin-bottom: 5px;
}

.info h4{
    text-align: left;
    font-size: 20px;
    margin-bottom: 30px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    outline: 0;
    font-size: 20px;
    margin-bottom: 20px;
    border: 0;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}

#btn{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    color: #000;
}

.bottom-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: #fff;
}

.bottom-side a{
    padding-top: 50px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.error{
    font-size: 14px;
    color: #ff0000;
    padding: 4px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.pos{
    display: none;
    flex-direction: column;
    align-items: center;
}

.pos h1{
    font-size: 40px;
    animation: cor 1s ease-in both;
    animation-delay: 1s;
}

.pos h4{
    font-size: 20px;
}

.social{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}

.social i{
    font-size: 30px;
    color: #fff;
}

@keyframes cor{
    0%{
        color: #fff;
    }50%{
        color: aquamarine;
    }100%{
        color: rgb(11, 216, 4);
    }
}